section.all-services#all-services
  .container-xl
    .row
      .col-md-2
        .all-services__item.text-center
          img(src='/img/svg/service.svg')
          .all-services__item--title Cервіс
      .col-md-2
        .all-services__item.text-center
          img(src='/img/svg/diagnostic.svg')
          .all-services__item--title Діагностика
      .col-md-2
        .all-services__item.text-center
          img(src='/img/svg/inspection.svg')
          .all-services__item--title Техогляд
      .col-md-2
        .all-services__item.text-center
          img(src='/img/svg/tire.svg')
          .all-services__item--title Шиномонтаж, шиноремонт
      .col-md-2
        .all-services__item.text-center
          img(src='/img/svg/car-parts.svg')
          .all-services__item--title Замовлення запчастин
      .col-md-2
        .all-services__item.text-center
          img(src='/img/svg/car-wash.svg')
          .all-services__item--title Автомийка