section.car-service
  .container-xl
    h2.car-service__title Авторизований сервісний центр
    .car-service__items
      .car-service__item
        img(src='/img/svg/logo-isuzutruck.svg')
      .car-service__item
        img(src='/img/svg/logo-man.svg')
      .car-service__item
        img(src='/img/svg/logo-bogdan.svg')
      .car-service__item
        img(src='/img/svg/logo-hyundai.svg')
      .car-service__item
        img(src='/img/svg/logo-kraz.svg')
      .car-service__item
        img(src='/img/svg/logo-ataman.svg')
      .car-service__item
        img(src='/img/svg/logo-varv.svg')