section.contact-us
  .container-xl
    .row
      .col-md-4
        .contact-us__item
          img(src='/img/svg/schedule.svg')
          .contact-us__item--info
            .contact-us__item--title Графік роботи:
            p понеділка - неділя
              br
              | з 8:30 по 20:00
              br
              | Без вихідних
      .col-md-4
        .contact-us__item
          img(src='/img/svg/address.svg')
          .contact-us__item--info
            .contact-us__item--title Наша адреса:
            p м. Чернігів,
              br
              | вул. Інструментальна, 34
            .map(data-toggle="modal" data-target="#map") схема проїзду
      .col-md-4
        .contact-us__item
          img(src='/img/svg/contacts.svg')
          .contact-us__item--info
            .contact-us__item--title Контакти:
            p тел. +38 (0462) 72-22-02
              br
              | моб. +38 (050) 44-23-664
              br
              | моб. +38 (063) 49-72-241
              br
              | e-mail: avtokom2012@i.ua