section.gallery
  .gallery-list
    a(href='/img/img-photo-1_b.jpg', data-fancybox='images').gallery-item
      img(src='/img/img-photo-1.jpg')
    a(href='/img/img-photo-2_b.jpg', data-fancybox='images').gallery-item
      img(src='/img/img-photo-2.jpg')
    a(href='/img/img-photo-3_b.jpg', data-fancybox='images').gallery-item
      img(src='/img/img-photo-3.jpg')
    a(href='/img/img-photo-4_b.jpg', data-fancybox='images').gallery-item
      img(src='/img/img-photo-4.jpg')
    a(href='/img/img-photo-5_b.jpg', data-fancybox='images').gallery-item
      img(src='/img/img-photo-5.jpg')
    a(href='/img/img-photo-6_b.jpg', data-fancybox='images').gallery-item
      img(src='/img/img-photo-6.jpg')
    a(href='/img/img-photo-8_b.jpg', data-fancybox='images').gallery-item
      img(src='/img/img-photo-8.jpg')
    a(href='/img/img-photo-15_b.jpg', data-fancybox='images').gallery-item
      img(src='/img/img-photo-15.jpg')
    a(href='/img/img-photo-12_b.jpg', data-fancybox='images').gallery-item
      img(src='/img/img-photo-12.jpg')
    a(href='/img/img-photo-7_b.jpg', data-fancybox='images').gallery-item
      img(src='/img/img-photo-7.jpg')
    a(href='/img/img-photo-13_b.jpg', data-fancybox='images').gallery-item
      img(src='/img/img-photo-13.jpg')
    a(href='/img/img-photo-16_b.jpg', data-fancybox='images').gallery-item
      img(src='/img/img-photo-16.jpg')