section.gallery
  .gallery-items.slider.d-block.d-md-flex
    a(href='/img/img-photo-1_b.jpg', data-fancybox='images')
      img(src='/img/img-photo-1.jpg')
    a(href='/img/img-photo-2_b.jpg', data-fancybox='images')
      img(src='/img/img-photo-2.jpg')
    //a(href='/img/img-photo-11_b.jpg', data-fancybox='images')
      img(src='/img/img-photo-11.jpg')
    a(href='/img/img-photo-3_b.jpg', data-fancybox='images')
      img(src='/img/img-photo-3.jpg')
    a(href='/img/img-photo-5_b.jpg', data-fancybox='images')
      img(src='/img/img-photo-5.jpg')
    a(href='/img/img-photo-6_b.jpg', data-fancybox='images')
      img(src='/img/img-photo-6.jpg')
    a(href='/img/img-photo-8_b.jpg', data-fancybox='images')
      img(src='/img/img-photo-8.jpg')
    a(href='/img/img-photo-7_b.jpg', data-fancybox='images')
      img(src='/img/img-photo-7.jpg')
    a(href='/img/img-photo-9_b.jpg', data-fancybox='images')
      img(src='/img/img-photo-9.jpg')
    a(href='/img/img-photo-10_b.jpg', data-fancybox='images')
      img(src='/img/img-photo-10.jpg')
    a(href='/img/img-photo-4_b.jpg', data-fancybox='images')
      img(src='/img/img-photo-4.jpg')
    a(href='/img/img-photo-12_b.jpg', data-fancybox='images')
      img(src='/img/img-photo-12.jpg')
    a(href='/img/img-photo-13_b.jpg', data-fancybox='images')
      img(src='/img/img-photo-13.jpg')