section.reviews
  .container-xl
    h2.reviews__title Відгуки клієнтів
    .row
      .col-md-10.m-auto
        .slider.single-item
          div.review-items
            .review-item
              img(src='/img/svg/quote.svg')
              .review-item__body
                p Широкий спектр надаваних нами послуг, в поєднанні з якісним обслуговуванням, дає можливість нашим клієнтам отримувати комплексне і якісне обслуговування своїх автомобілів. Ми забезпечуємо високий рівень обслуговування та індивідуальний підхід до кожного клієнта
                .review-item__client Ім'я клієнта,
                  br
                  | Toyota Corolla
          div.review-items
            .review-item
              img(src='/img/svg/quote.svg')
              .review-item__body
                p Широкий спектр надаваних нами послуг, в поєднанні з якісним обслуговуванням, дає можливість нашим клієнтам отримувати комплексне і якісне обслуговування своїх автомобілів. Ми забезпечуємо високий рівень обслуговування та індивідуальний підхід до кожного клієнта
                .review-item__client Ім'я клієнта,
                  br
                  | Toyota Corolla
          div.review-items
            .review-item
              img(src='/img/svg/quote.svg')
              .review-item__body
                p Широкий спектр надаваних нами послуг, в поєднанні з якісним обслуговуванням, дає можливість нашим клієнтам отримувати комплексне і якісне обслуговування своїх автомобілів. Ми забезпечуємо високий рівень обслуговування та індивідуальний підхід до кожного клієнта
                .review-item__client Ім'я клієнта,
                  br
                  | Toyota Corolla
          div.review-items
            .review-item
              img(src='/img/svg/quote.svg')
              .review-item__body
                p Широкий спектр надаваних нами послуг, в поєднанні з якісним обслуговуванням, дає можливість нашим клієнтам отримувати комплексне і якісне обслуговування своїх автомобілів. Ми забезпечуємо високий рівень обслуговування та індивідуальний підхід до кожного клієнта
                .review-item__client Ім'я клієнта,
                  br
                  | Toyota Corolla
        .row
          .col-md-4.m-auto
            .leave-review Залишити відгук
