section.services
  .container-xl
    .row
      .col-md-4
        h2.services-main-list__title Послуги сервісу
          span СТО АВТОКОМ
        p.services-main-list__description Професіоналізм, індивідуальний підхід та ввічливість - це основа нашої діяльності.
      .col-md-8
        .row
          .col-md-6
            .services-main-list
              img(src='/img/svg/car_repair.svg')
              p Технічне обслуговування автомобілів
          .col-md-6
            .services-main-list
              img(src='/img/svg/diagnostics-repair.svg')
              p Діагностика і ремонт дизельної апаратури
          .col-md-6
            .services-main-list
              img(src='/img/svg/car-condition.svg')
              p Заправка і сервісне обслуговування кондиціонерів
          .col-md-6
            .services-main-list
              img(src='/img/svg/wheel-alignment.svg')
              p Комп'ютерний стенд розвал/сходження вантажних автомобілів
          .col-md-6
            .services-main-list
              img(src='/img/svg/tachograph.svg')
              p Калібрування і ремонт тахографів
          .col-md-6
            .services-main-list
              img(src='/img/svg/fuel-injector-ultrasonic-cleaning.svg')
              p Діагностика та ультразвукова чистка інжекторів
.services-full-list
  .container-xl
    .row
      .col-md-6
        .row
          .col-md-4
            .services-item(data-toggle="modal" data-target="#servises")
              .services-item__img
                img(src='/img/svg/maintenance.svg')
              p.service-item__description Технічне обслуговування (ТО)
          .col-md-4
            .services-item(data-toggle="modal" data-target="#servises")
              .services-item__img
                img(src='/img/svg/disc-brake.svg')
              p.service-item__description Гальмівна система
          .col-md-4
            .services-item(data-toggle="modal" data-target="#servises")
              .services-item__img
                img(src='/img/svg/steering-wheel.svg')
              p.service-item__description Рульове управління
        .row
          .col-md-4
            .services-item(data-toggle="modal" data-target="#servises")
              .services-item__img
                img(src='/img/svg/shock-absorber.svg')
              p.service-item__description Підвіска, ходова частина, трансмісія
          .col-md-4
            .services-item(data-toggle="modal" data-target="#servises")
              .services-item__img
                img(src='/img/svg/transmission.svg')
              p.service-item__description Трансмісія і зчеплення
          .col-md-4
            .services-item(data-toggle="modal" data-target="#servises")
              .services-item__img
                img(src='/img/svg/electrical-service.svg')
              p.service-item__description Електричне обладнання
        .row
          .col-md-4
            .services-item(data-toggle="modal" data-target="#servises")
              .services-item__img
                img(src='/img/svg/body-car.svg')
              p.service-item__description Кузов
          .col-md-4
            .services-item(data-toggle="modal" data-target="#servises")
              .services-item__img
                img(src='/img/svg/engine.svg')
              p.service-item__description Двигун, паливна система, система випуску
          .col-md-4
            .services-item(data-toggle="modal" data-target="#servises")
              .services-item__img
                img(src='/img/svg/air-conditioning.svg')
              p.service-item__description Кондіціонетр
      .col-md-6
        .services-list-item
          .services-list-item--title Перелік базових робіт з техобслуговування:
          +services-list