section.services
  .container-xl
    .row
      .col-md-4
        h2.services-main-list__title Послуги сервісу
          span СТО АВТОКОМ
        p Професіоналізм, індивідуальний підхід та ввічливість - це основа нашої діяльності.
      .col-md-8
        .row
          .col-md-6
            .services-main-list
              img(src='/img/svg/car_repair.svg')
              p Технічне обслуговування автомобілів
          .col-md-6
            .services-main-list
              img(src='/img/svg/diagnostics-repair.svg')
              p Діагностика і ремонт дизельної апаратури
          .col-md-6
            .services-main-list
              img(src='/img/svg/car-condition.svg')
              p Заправка і сервісне обслуговування кондиціонерів
          .col-md-6
            .services-main-list
              img(src='/img/svg/wheel-alignment.svg')
              p Комп'ютерний стенд розвал/сходження вантажних автомобілів
          .col-md-6
            .services-main-list
              img(src='/img/svg/tachograph.svg')
              p Калібрування і ремонт тахографів
          .col-md-6
            .services-main-list
              img(src='/img/svg/fuel-injector-ultrasonic-cleaning.svg')
              p Діагностика та ультразвукова чистка інжекторів
    .row
      .col-md-6
        .row
          .col-md-4
            .services-item
              .services-item__img
                img(src='/img/svg/maintenance.svg')
              p.service-item__description Технічне обслуговування (ТО)
          .col-md-4
            .services-item
              .services-item__img
                img(src='/img/svg/disc-brake.svg')
              p.service-item__description Гальмівна система
          .col-md-4
            .services-item
              .services-item__img
                img(src='/img/svg/steering-wheel.svg')
              p.service-item__description Рульове управління
        .row
          .col-md-4
            .services-item
              .services-item__img
                img(src='/img/svg/shock-absorber.svg')
              p.service-item__description Підвіска, ходова частина, трансмісія
          .col-md-4
            .services-item
              .services-item__img
                img(src='/img/svg/transmission.svg')
              p.service-item__description Трансмісія і зчеплення
          .col-md-4
            .services-item
              .services-item__img
                img(src='/img/svg/electrical-service.svg')
              p.service-item__description Електричне обладнання
        .row
          .col-md-4
            .services-item
              .services-item__img
                img(src='/img/svg/body-car.svg')
              p.service-item__description Кузов
          .col-md-4
            .services-item
              .services-item__img
                img(src='/img/svg/engine.svg')
              p.service-item__description Двигун, паливна система, система випуску
          .col-md-4
            .services-item
              .services-item__img
                img(src='/img/svg/air-conditioning.svg')
              p.service-item__description Кондіціонетр
      .col-md-6
        .services-list-item
          .services-list-item--title Перелік базових робіт з техобслуговування:
          ul.services-list
            li Заміна масла і масляного фільтра
            li Заміна повітряного фільтра
            li Заміна екологічного фільтра салону
            li Перевірка рівня рідини гальмівної системи, ГУР, коробки передач
            li Перевірка гальмівних колодок
            li Перевірка гальмівних дисків
            li Перевірка і регулювання стоянкового гальма
            li Перевірка систем освітлення
            li Перевірка обігрівача і кондиціонера
            li Перевірка омивача і склоочисників
            li Перевірка і регулювання приводних ременів
            li Огляд і перевірка електрообладнання, електропроводки, звукового сигналу
            li Перевірка передньої і задньої підвіски
            li Перевірка рульового управління
            li Перевірка люфтів і стану ШРУСов
            li Перевірка і регулювання тиску в шинах
            li Перевірка колісних гайок
            li Перевірка роботи і мастило замків, петель
            li Огляд днища, вихлопної системи, трубопроводів