section.sto-form
  .container-xl
    .row
      .col-md-4
        img(src='img/svg/car-tir-trick.svg').sto-form__img.img-fluid
        p.sto-form__description Компанія зарекомендувала себе як надійний і професійний постачальник послуг в сфері ремонту та технічного обслуговування вантажних і легкових автомобілів.
      .col-md-8
        .sto-form__item
          h3.sto-form__item--title Записатися на СТО
          form(action='#')
            .row
              .col-md-6
                .sto-form__item--group
                  .sto-form__item--car-model.form-control Марка машини
                  .sto-form__item--dropdown
                    .ui-widget
                      select#combobox
                        option(value='') Select one...
                        option(value='Renault') Renault
                        option(value='Geely') Geely
                        option(value='Volkswagen') Volkswagen
                        option(value='Skoda') Skoda
                        option(value='Citroen') Citroen
                        option(value='Audi') Audi
                        option(value='BMW') BMW
                        option(value='Chevrolet') Chevrolet
                        option(value='Daewoo') Daewoo
              .col-md-3
                .input-group
                  input#datepicker.form-control(type='text' placeholder='Дата')
                  .input-group-addon
                    +sprite('icon', 'icon-date')
              .col-md-3
                .md-form.md-outline.input-group-addon.input-with-post-icon.timepicker(twelvehour='true')
                  input#light-version-examples.form-control(type='text' placeholder='Час')
                  +sprite('icon', 'icon-timer')
          .row
            .col-md-6
              .form-group
                input(type='text' placeholder='VIN код' value='yv2a4b2a0wa280909').form-control
            .col-md-6
              .form-group.error
                input(type='text' value="Ім'я клієнта").form-control
                .invalid-feedback Помилка
          .row
            .col-md-6
              .form-group
                input(type='text' placeholder='Держномер').form-control
            .col-md-6
              .form-group
                input(type='phone' placeholder='+380 (__) ___-__-__').form-control
          .row
            .col-md-12
              textarea.form-control(rows='5' placeholder='Опис несправності')
          .row
            .col-md-6.m-auto
              button(type='submit').get-sign-up Записатися