- const path = "./img/svg/symbol/sprite.svg#";

mixin sprite(name, id)
  svg(class=name)
    use(xlink:href=path + id)

mixin services-list
  ul.services-list
    li Заміна масла і масляного фільтра
    li Заміна повітряного фільтра
    li Заміна екологічного фільтра салону
    li Перевірка рівня рідини гальмівної системи, ГУР, коробки передач
    li Перевірка гальмівних колодок
    li Перевірка гальмівних дисків
    li Перевірка і регулювання стоянкового гальма
    li Перевірка систем освітлення
    li Перевірка обігрівача і кондиціонера
    li Перевірка омивача і склоочисників
    li Перевірка і регулювання приводних ременів
    li Огляд і перевірка електрообладнання, електропроводки, звукового сигналу
    li Перевірка передньої і задньої підвіски
    li Перевірка рульового управління
    li Перевірка люфтів і стану ШРУСов
    li Перевірка і регулювання тиску в шинах
    li Перевірка колісних гайок
    li Перевірка роботи і мастило замків, петель
    li Огляд днища, вихлопної системи, трубопроводів