footer.footer
  .container-xl
    .row
      .col-md-6
        .footer-copyright Copyright  &copy; 2020 All Rights Reserved.
      .col-md-6
        .footer-development Разробка сайту -
          img(src='/img/beatom-logo.png')