extends ./extends/layout
block variables
  - var title = "Автоком сервіс"

block content
  include ./includes/header
  main
    include ./sections/video
    include ./sections/car-service
    include ./sections/all-services
    include ./sections/sto-form