extends ./extends/layout
block variables
  - var title = "Автоком сервіс"

block content
  include ./includes/header
  main
    include ./sections/video
    include ./sections/car-service
    include ./sections/all-services
    include ./sections/sto-form
    include ./sections/contact-us
    include ./sections/services
    include ./sections/car-parts
    include ./sections/gallery
    include ./sections/reviews
    include ./sections/contacts
  include ./includes/footer
  include ./components/modal-services