body {
  font-family: $font;
}

.datepicker {
  box-shadow: 0 2px 6px rgba(17, 26, 36, 0.15);
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
  padding: 30px 20px;
  width: 320px;
  border: none;
  .datepicker-dropdown{
    &::after, &::before {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
  }
  table {
    width: 100%;
    border-spacing: 4px;
    border-collapse: separate;
    .prev, .next {
      font-size: 0;
      background: #FDD417;
      border-radius: 3px;
      width: 24px;
      height: 24px;
      display: flex;
      margin: auto;
      align-items: center;
      justify-content: center;
      &::before {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        background: url('../img/svg/arrow.svg');
      }
    }
    .next::before {
      transform: rotate(180deg);
    }
    .datepicker-switch {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #0A0F1A;
      padding-bottom: 20px;
      &:hover {
        background: transparent;
      }
    }
    tr {
      td.dow {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #0A0F1A;
      }
      td.old {
        color: #A7A7A7;
      }
      td.day {
        background: #EFEFEF;
        border-radius: 3px;
        color: #343435;
        font-size: 14px;
        line-height: 17px;
        font-weight: 700;
        height: 36px;
        border: 2px solid transparent;
        &:hover {
          background-color: #828289;
          color: #FDD417;
          border: none;
        }
      }
      td.today {
        background: #FDD417;
      }
      td.active {
        border: 2px solid #FDD417;
        background: #ffffff;
      }
    }
  }
}
.datepicker table tr td.today:hover:hover {
  color: #FDD417;
  background-color: #828289;
  background-image: none;
}
.datepicker table tr td.active.active {
  background-color: #ffffff;
}