#map.modal.fade(tabindex='-1' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-body
        h5.modal-title Де знаходиться сервіс?
        button.close(type='button' data-dismiss='modal' aria-label='Close')
        .map
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.5043546453808!2d31.258063715834965!3d51.52230861743387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46d547cc247d87c3%3A0x1d91fe3451215d2c!2z0JjQvdGB0YLRgNGD0LzQtdC90YLQsNC70YzQvdCw0Y8g0YPQuy4sIDM0LCDQp9C10YDQvdC40LPQvtCyLCDQp9C10YDQvdC40LPQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDE0MDAw!5e0!3m2!1sru!2sua!4v1598445012829!5m2!1sru!2sua' height='325' width='100%' frameborder='0' style='border:0;' allowfullscreen='' aria-hidden='false' tabindex='0')
        .row
          .col-md-3
            .get-sign-up(data-dismiss='modal') Закрити