#thanks-for-review.modal.fade(tabindex='-1' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-body
        h5.modal-title Дякуємо за відгук!
        button.close(type='button' data-dismiss='modal' aria-label='Close')
        p Ми цінуємо Ваш відгук про наш сервіс. Він скоро з'явиться в на сайті.
        .row
          .col-md-3
            .get-sign-up(data-dismiss='modal') Закрити