#thanks-for-order.modal.fade(tabindex='-1' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-body
        h5.modal-title Дякуємо за Ваше замовлення!
        button.close(type='button' data-dismiss='modal' aria-label='Close')
        p Ми вдячні за довіру нашому сервісу. Найближчим часом з вами зв'яжуться для підтвердження замовлення. Якщо у Вас є питання, просто подзвоніть нам за номерами :
        p тел. +38 (0462) 72-22-02, моб. +38 (050) 44-23-664, моб. +38 (063) 49-72-241
        .row
          .col-md-3
            .get-sign-up(data-dismiss='modal') Закрити