#servises.modal.fade(tabindex='-1' aria-hidden='true')
  .modal-dialog.small-modal
    .modal-content
      .modal-body
        h5.modal-title Гальмівна система
        button.close(type='button' data-dismiss='modal' aria-label='Close')
        ul.services-list
          li Перевірка гальмівної системи
          li Заміна передніх гальмівних колодок
          li Заміна задніх гальмівних колодок
          li Заміна гальмівного диска барабана
          li Заміна гальмівного шланга
          li Заміна робочого тормозн.ціліндра
          li Заміна гальмівного супорта
          li Заміна троса гальма стоянки
          li Прокачування гальмівної системи
        .get-sign-up Записатись на СТО